{
  "Log to console": {
    "prefix": "log",
    "body": "console.log($1)",
    "description": "Log output to console"
  },
  "JSON stringify print": {
    "prefix": "jstr",
    "body": "<pre>$2{JSON.stringify($1, null, 2)}</pre>",
    "description": "Print data with JSON.stringify for quick debugging"
  }
}
