{
  "autosave": "on_focus_change",
  "base_keymap": "VSCode",
  "buffer_font_family": "JetBrainsMono Nerd Font",
  "buffer_font_features": {
    "calt": false
  },
  "buffer_font_size": 16,
  "buffer_font_weight": 400,
  "buffer_line_height": "standard",
  "collaboration_panel": {
    "button": false
  },
  "cursor_shape": "bar",
  "disable_ai": true,
  "middle_click_paste": false,
  "project_panel": {
    "dock": "right",
    "entry_spacing": "standard"
  },
  "tab_size": 2,
  "tabs": {
    "file_icons": true
  },
  "telemetry": {
    "metrics": false,
    "diagnostics": false
  },
  "terminal": {
    "font_family": "JetBrainsMono Nerd Font Mono"
  },
  "theme": {
    "mode": "system",
    "light": "Ayu Light",
    "dark": "Ayu Dark"
  },
  "toolbar": {
    "breadcrumbs": true,
    "quick_actions": true,
    "agent_review": false
  },
  "ui_font_family": "JetBrainsMono Nerd Font",
  "ui_font_size": 16
}
