{
  "autosave": "on_focus_change",
  "base_keymap": "VSCode",
  "ui_font_size": 16,
  "ui_font_family": "JetBrainsMono Nerd Font",
  "buffer_font_family": "JetBrainsMono Nerd Font",
  "buffer_font_features": {
    "calt": false
  },
  "buffer_font_size": 16,
  "terminal": {
    "font_family": "JetBrainsMono Nerd Font Mono"
  },
  "tabs": {
    "file_icons": true
  },
  "toolbar": {
    "breadcrumbs": true,
    "quick_actions": true,
    "agent_review": false
  },
  "theme": {
    "mode": "system",
    "light": "Gruvbox Light",
    "dark": "Gruvbox Dark Hard"
  },
  "project_panel": {
    "dock": "right"
  },
  "telemetry": {
    "metrics": false,
    "diagnostics": false
  },
  "disable_ai": true
}
