if test -f "$XDG_CONFIG_HOME/fish/fish_env"
	source "$XDG_CONFIG_HOME/fish/fish_env"
end

if test -f "$XDG_CONFIG_HOME/fish/.fish_aliases"
	source "$XDG_CONFIG_HOME/fish/.fish_aliases"
end

if set -q GHOSTTY_RESOURCES_DIR
  source "$GHOSTTY_RESOURCES_DIR"/shell-integration/fish/vendor_conf.d/ghostty-shell-integration.fish
end

set -U fish_greeting

if status is-interactive
end

if type -q starship
	starship init fish | source
end

if type -q direnv
	direnv hook fish | source
end

if type -q zoxide
	zoxide init --cmd cd fish | source
end
