---
# tasks file for helix

- name: Install helix
  community.general.pacman:
    name: helix
    state: "{{ helix_state }}"

- name: Configure helix
  when: helix_state == 'latest'
  block:
    - name: Ensure helix config directory exists
      ansible.builtin.file:
        path: "/home/{{ username }}/.config/helix"
        state: directory
        owner: "{{ username }}"
        group: "{{ username }}"
        mode: "0755"
      register: helix_config_dir

    - name: Copy config
      ansible.builtin.template:
        src: config.toml.j2
        dest: "{{ helix_config_dir.path }}/config.toml"
        owner: "{{ username }}"
        group: "{{ username }}"
        mode: "0644"

    - name: Copy languages file
      ansible.builtin.template:
        src: languages.toml.j2
        dest: "{{ helix_config_dir.path }}/languages.toml"
        owner: "{{ username }}"
        group: "{{ username }}"
        mode: "0644"

- name: Ensure config removed
  ansible.builtin.file:
    path: "/home/{{ username }}/.config/helix"
    state: absent
  when: helix_state == 'absent'
