// IMPORTANT: Start your code on the 2nd line

// RESOURCES:
// https://github.com/pyllyukko/user.js
// https://github.com/arkenfox/user.js

pref("accessibility.typeaheadfind.enablesound", false);
pref("app.normandy.api_url", "");
pref("app.normandy.enabled", false);
pref("app.shield.optoutstudies.enabled", false);
pref("app.update.auto", false);
pref("breakpad.reportURL", "");
pref("browser.aboutConfig.showWarning", false);
pref("browser.crashReports.unsubmittedCheck.autoSubmit2", false);
pref("browser.crashReports.unsubmittedCheck.enabled", false);
pref("browser.discovery.enabled", false);
pref("browser.formfill.enable", false);
pref("browser.newtabpage.activity-stream.default.sites", "");
pref("browser.newtabpage.activity-stream.feeds.telemetry", false);
pref("browser.newtabpage.activity-stream.showSponsored", false);
pref("browser.newtabpage.activity-stream.showSponsoredCheckboxes", false);
pref("browser.newtabpage.activity-stream.showSponsoredTopSites", false);
pref("browser.newtabpage.activity-stream.telemetry", false);
pref("browser.newtabpage.enabled", false);
pref("browser.search.suggest.enabled", false);
pref("browser.shell.checkDefaultBrowser", false);
pref("browser.startup.homepage", "about:home");
pref("browser.startup.page", 1);
pref("browser.tabs.crashReporting.sendReport", false);
pref("browser.urlbar.addons.featureGate", false);
pref("browser.urlbar.amp.featureGate", false);
pref("browser.urlbar.fakespot.featureGate", false);
pref("browser.urlbar.groupLabels.enabled", true);
pref("browser.urlbar.mdn.featureGate", false);
pref("browser.urlbar.pocket.featureGate", false);
pref("browser.urlbar.quicksuggest.enabled", false);
pref("browser.urlbar.speculativeConnect.enabled", false);
pref("browser.urlbar.suggest.quicksuggest.nonsponsored", false);
pref("browser.urlbar.suggest.quicksuggest.sponsored", false);
pref("browser.urlbar.suggest.searches", false);
pref("browser.urlbar.trending.featureGate", false);
pref("browser.urlbar.trimURLs", false);
pref("browser.urlbar.weather.featureGate", false);
pref("browser.urlbar.wikipedia.featureGate", false);
pref("browser.urlbar.yelp.featureGate", false);
pref("captivedetect.canonicalURL", "");
pref("datareporting.healthreport.uploadEnabled", false);
pref("datareporting.policy.dataSubmissionEnabled", false);
pref("extensions.formautofill.creditCards.enabled", false);
pref("extensions.getAddons.showPane", false);
pref("extensions.htmlaboutaddons.recommendations.enabled", false);
pref("general.autoScroll", true);
pref("gfx.webrender.all", true);
pref("gfx.webrender.compositor", true);
pref("layers.acceleration.force-enabled", true);
pref("media.autoplay.default", 5);
pref("media.autoplay.enabled", false);
pref("media.av1.enabled", false);
pref("media.eme.enabled", false);
pref("media.ffmpeg.vaapi.enabled", true)
pref("media.gmp-gmpopenh264.autoupdate", true);
pref("media.gmp-gmpopenh264.enabled", true);
pref("media.gmp-gmpopenh264.provider.enabled", true);
pref("media.hardware-video-decoding.force-enabled", true);
pref("media.peerconnection.video.h264_enabled", true);
pref("network.auth.subresource-http-auth-allow", 1);
pref("network.captive-portal-service.enabled", false);
pref("network.connectivity-service.enabled", false);
pref("privacy.donottrackheader.enabled", true);
pref("privacy.donottrackheader.value", 1);
pref("privacy.globalprivacycontrol.enabled", true);
pref("privacy.globalprivacycontrol.functionality.enabled", true);
pref("privacy.resistFingerprinting", false);
pref("privacy.trackingprotection.cryptomining.enabled", true);
pref("privacy.trackingprotection.enabled", true);
pref("privacy.trackingprotection.fingerprinting.enabled", true);
pref("privacy.trackingprotection.pbmode.enabled", true);
pref("privacy.usercontext.about_newtab_segregation.enabled", true);
pref("services.sync.prefs.sync.browser.newtabpage.activity-stream.showSponsored", false);
pref("services.sync.prefs.sync.browser.newtabpage.activity-stream.showSponsoredCheckboxes", false);
pref("services.sync.prefs.sync.browser.newtabpage.activity-stream.showSponsoredTopSite", false);
pref("signon.autofillForms", false);
pref("signon.formlessCapture.enabled", false);
pref("toolkit.coverage.endpoint.base", "");
pref("toolkit.coverage.opt-out", true);
pref("toolkit.telemetry.archive.enabled", false);
pref("toolkit.telemetry.bhrPing.enabled", false);
pref("toolkit.telemetry.cachedClientID", "");
pref("toolkit.telemetry.coverage.opt-out", true);
pref("toolkit.telemetry.enabled", false);
pref("toolkit.telemetry.hybridContent.enabled", false);
pref("toolkit.telemetry.newProfilePing.enabled", false);
pref("toolkit.telemetry.prompted", 2);
pref("toolkit.telemetry.rejected", true);
pref("toolkit.telemetry.reportingpolicy.firstRun", false);
pref("toolkit.telemetry.server", "");
pref("toolkit.telemetry.server", "data:,");
pref("toolkit.telemetry.shutdownPingSender.enabled", false);
pref("toolkit.telemetry.unified", false);
pref("toolkit.telemetry.unifiedIsOptIn", false);
pref("toolkit.telemetry.updatePing.enabled", false);
pref("widget.dmabuf.force-enabled", true);
