#!/usr/bin/env bash

set -x

VIRSH_GPU_VIDEO_ID=0000:01:00.0
VIRSH_GPU_AUDIO_ID=0000:01:00.1
   
VIRSH_GPU_VIDEO_VD="$(cat /sys/bus/pci/devices/$VIRSH_GPU_VIDEO_ID/vendor) $(cat /sys/bus/pci/devices/$VIRSH_GPU_VIDEO_ID/device)"
VIRSH_GPU_AUDIO_VD="$(cat /sys/bus/pci/devices/$VIRSH_GPU_AUDIO_ID/vendor) $(cat /sys/bus/pci/devices/$VIRSH_GPU_AUDIO_ID/device)"

function unbind_vfio {
  echo "$VIRSH_GPU_VIDEO_VD" > "/sys/bus/pci/drivers/vfio-pci/remove_id"
  echo "$VIRSH_GPU_AUDIO_VD" > "/sys/bus/pci/drivers/vfio-pci/remove_id"

  echo 1 > "/sys/bus/pci/devices/$VIRSH_GPU_VIDEO_ID/remove"
  echo 1 > "/sys/bus/pci/devices/$VIRSH_GPU_AUDIO_ID/remove"
}

function bind_pci_host_devices {
  echo $VIRSH_GPU_VIDEO_ID > "/sys/bus/pci/devices/$VIRSH_GPU_VIDEO_ID/driver/bind"
  echo $VIRSH_GPU_AUDIO_ID > "/sys/bus/pci/devices/$VIRSH_GPU_AUDIO_ID/driver/bind"

  echo 1 > "/sys/bus/pci/rescan"
}

function bind_vtconsoles {
  for vt in /sys/class/vtconsole/vtcon*; do
    echo 1 > "$vt/bind" 2>/dev/null || true
  done
}

function bind_efi_framebuffer {
  echo efi-framebuffer.0 > /sys/bus/platform/drivers/efi-framebuffer/bind 2>/dev/null || true
}

function load_nvidia_drivers {
  modprobe nvidia_drm
  modprobe nvidia_uvm
  modprobe nvidia_modeset
  modprobe nvidia
  modprobe drm_kms_helper
  modprobe i2c_nvidia_gpu
  modprobe drm
}

function unload_vfio_kernel_modules {
  modprobe -r vfio
  modprobe -r vfio_pci
  modprobe -r vfio_iommu_type1
}

function start_gnome_display_manager {
  systemctl start gdm.service
}

echo "Started revert.sh (rebinding graphics to host)"

echo "Unbinding vfio"
unbind_vfio

sleep 3

echo "Unloading vfio kernel modules"
unload_vfio_kernel_modules

sleep 3

echo "Reloading nvidia drivers"
load_nvidia_drivers

sleep 3

echo "Binding pci devices"
bind_pci_host_devices

sleep 3

echo "Rebinding EFI framebuffer"
bind_efi_framebuffer

sleep 3

echo "Rebinding virtual consoles"
bind_vtconsoles

sleep 3

echo "Starting gnome display manager"
start_gnome_display_manager

echo "Finished revert.sh (rebinding graphics to host)"
