#!/usr/bin/env bash

set -x

VIRSH_GPU_VIDEO_ID=0000:01:00.0
VIRSH_GPU_AUDIO_ID=0000:01:00.1

VIRSH_GPU_VIDEO_VD="$(cat /sys/bus/pci/devices/$VIRSH_GPU_VIDEO_ID/vendor) $(cat /sys/bus/pci/devices/$VIRSH_GPU_VIDEO_ID/device)"
VIRSH_GPU_AUDIO_VD="$(cat /sys/bus/pci/devices/$VIRSH_GPU_AUDIO_ID/vendor) $(cat /sys/bus/pci/devices/$VIRSH_GPU_AUDIO_ID/device)"

function stop_gnome_display_manager {
  systemctl stop gdm.service
  systemctl isolate multi-user.target
}

function unbind_host_pci_devices {
  echo "$VIRSH_GPU_VIDEO_ID" > "/sys/bus/pci/devices/$VIRSH_GPU_VIDEO_ID/driver/unbind"
  echo "$VIRSH_GPU_AUDIO_ID" > "/sys/bus/pci/devices/$VIRSH_GPU_AUDIO_ID/driver/unbind"
}

function bind_vfio {
  echo "$VIRSH_GPU_VIDEO_VD" > /sys/bus/pci/drivers/vfio-pci/new_id
  echo "$VIRSH_GPU_AUDIO_VD" > /sys/bus/pci/drivers/vfio-pci/new_id
}

function unbind_vtconsoles {
  for vt in /sys/class/vtconsole/vtcon*; do
    echo 0 > "$vt/bind" 2>/dev/null || true
  done
}

function unbind_efi_framebuffer {
  echo efi-framebuffer.0 > /sys/bus/platform/drivers/efi-framebuffer/unbind 2>/dev/null || true
}

function load_vfio_kernel_modules {
  modprobe vfio
  modprobe vfio_pci
  modprobe vfio_iommu_type1
}

function unload_nvidia_drivers {
  modprobe -r nvidia_drm
  modprobe -r nvidia_uvm
  modprobe -r nvidia_modeset
  modprobe -r nvidia
  modprobe -r drm_kms_helper
  modprobe -r i2c_nvidia_gpu
  modprobe -r drm
}

echo "Started start.sh (unbinding graphics from host)"

echo "Stopping gnome display manager"
stop_gnome_display_manager

echo "Unbinding virtual consoles"
unbind_vtconsoles

echo "Unbinding EFI framebuffer"
unbind_efi_framebuffer

echo "Unloading nvidia drivers"
unload_nvidia_drivers

sleep 2

echo "Loading vfio kernel modules"
load_vfio_kernel_modules

sleep 2

echo "Unbinding pci devices"
unbind_host_pci_devices

sleep 2

echo "Binding vfio"
bind_vfio

echo "Finished start.sh (unbinding graphics from host)"
